@import './base/common';
@import './base/container';
@import './components/grid';
@import './layouts/heder';
@import './layouts/hero';
@import './layouts/feathurs2';
@import './layouts/experts';
@import './layouts/healthcare';

.footer {
  padding-bottom: 47px;
  &__img {
    width: 160px;
    height: 55px;
  }
}

.footer {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 767.99px) {
      flex-direction: column;
    }
  }

  &__img {
    width: 160px;
    height: 55px;
  }

  &__img:last-child {
    height: 60px;
  }

  &__img:not(:last-child) {
    margin-right: 60px;

    @media screen and (max-width: 767.99px) {
      margin: 0px;
    }
  }
}
